$primary-royale-blue: #2405f2;
$primary-tint-blue: #1c1e53;
$primary-dark-blue: #282938;

$background-grey: #f4f6fc;
$background-Accent: #eef4fa;

$font-grey-color-dark: #686973;
$font-grey-color-dark1: #444552;
$font-grey-color-dark2: #534c47;
$font-grey-color: #bbbbcb;

$primary-yellow: #fcd980;
