@use "../../../../assets/scss/utils/" as *;

.blog-card {
  width: 27rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .image {
    width: 100%;
    height: 25rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .created-at {
    font-size: 1rem;
    color: $font-grey-color-dark1;
  }

  .blog-title {
    color: $primary-tint-blue;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .short-description {
    font-size: 1rem;
    color: $font-grey-color-dark;
  }

  .read-more {
    display: flex;
    gap: 5px;
    font-size: 1rem;
    color: $primary-tint-blue;

    img {
      width: 1.5rem;
    }
  }
}
