@use "../../assets/scss/utils/" as *;

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100vw;
  height: 100vh;

  h2 {
    font-size: 10rem;
    font-weight: 600;
  }

  .message {
    font-size: 3rem;
  }

  .go-back {
    background-color: $primary-tint-blue;
    width: 20rem;
    height: 5rem;
    font-size: 1.85rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
